.about-title {
    font-family: 'Quicksand', sans-serif;
    color: #0d2554;
    font-size: 2.5rem;
}

.about-description {
    line-height: 1.9;
    font-size: 1.2rem;
}

.about-image {
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.about-mission-title {
    font-family: 'Quicksand', sans-serif;
    color: #0d2554;
}

.about-mission-list {
    line-height: 1.9;
    font-size: 1.5rem;
}

.health-care-title {
    font-family: 'Quicksand', sans-serif;
    color: #0d2554;
    font-size: 2.75rem;
}

.health-topic {
    cursor: pointer;
    text-align: left;
    font-size: 1.8rem;
    padding-left: 12px;
    border-left: 4px solid transparent;
}

.health-topic.selected {
    font-weight: bold;
    color: #8B0000;
    border-left: 4px solid #8B0000;
}

.health-content {
    line-height: 1.8;
    font-size: 1.25rem;
}

.back-home-btn {
    background-color: #8B0000;
    color: white;
}